<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nav</title>
</head>
<body>
        <a class="btn" href="/image/gallery"><button type="button">Image Gallery</button></a>
        <a class="btn" href="/video_manager"><button type="button">Video Manager</button></a>
</body>
</html>